<!DOCTYPE html>
<html>
	<head>
		<title>xxx</title>
	</head>
	<body>
		<h1>	Welcome to {{course.name}} {{course.code}}</h1>
		{% for feedback in feedbacks %}
			<div>
				<a href="">
					<div class="container">
						<font size="4">{{feedback.name}} </font>
					</div>
					<a href="{% url 'addstudents' course.name course.code %}">
						<button style="width:auto;">Add Student</button>
					</a>
					<a href="{% url 'addstudents' course.name course.code %}">
						<button style="width:auto;">Add Student</button>
					</a>
				</a>
			</div>
		{% endfor %}
	</body>
</html>